/**
* A simple sample CSS file that shows how to load assets
* from the views. This is imported in app/views/partials/head.
*/
h1 {
    color: royalblue;
    /*text-align: center;*/
}

body {
    background-color: lightgrey;
    margin: 0;
}

.container {
    width: 96vw;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    min-height: 90vh;
    padding: 4%;
}

header, footer {
    width: 100%;
    background-color:black;
    color: white;
}

nav, nav a {
    background-color: green;
    color: white;
    padding: 6px; 
}
nav a:hover {
    background-color: purple;
}

footer {
    text-align: center;
}

th, td {
    outline: solid black 1px;
    text-align: center;
}

img {
    /*max-width: 450px;*/
    max-width: 25vw;
}

@media (max-width: 740px) {
    .container {
        background-color: aquamarine;
    }
    
    nav, nav a {
        background-color: blue;
    }
}